@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e2e2e2;
  --midnight: #1e1e1e;
  --silver: #656565;
}

.html {
  font-family: var(--font-inter);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  width: 100vw;
  overflow-x: hidden;
}

.external-link::after {
  --size: 0.6rem;
  content: "";
  display: inline-block;
  background-image: url("../public/icons/up-right-arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0.3rem;
  width: var(--size);
  height: var(--size);
}

a:hover {
  text-decoration: underline;
}
